<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <style>
        *{
            -ms-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }
        body{
            margin: 0;
        }
        .form-box{
            width: 100%;
            height: 100%;
            padding: 0 5px;
            display: flex;
            flex-direction: column;
        }
        .form-control {
            display: block;
            width: 100%;
            height: calc(1.5em + .75rem + 2px);
            font-weight: 400;
            color: #495057;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem
        }
        .btn {
            cursor: pointer;
            display: inline-block;
            font-weight: 400;
            text-align: center;
            vertical-align: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            border: 1px solid transparent;
            transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s
            ease-in-out,box-shadow .15s ease-in-out;
            white-space: nowrap;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
            padding: .25rem .5rem;
            font-size: .875rem;
            line-height: 1.5;
            border-radius: .2rem;
        }
        .btn:hover {
            color: #fff;
            background-color: #0069d9;
            border-color: #0062cc;
        }
        .btn.disabled, .btn:disabled {
            cursor: none;
            color: #fff;
            background-color: #007bff;
            border-color: #007bff;
        }
        .btn.disabled, .btn:disabled {
            opacity: .65;
        }
        .text-right{
            text-align: right;
        }
        .mt-1{
            margin-top: 6px;
        }
        .overflow-hidden{
            overflow: hidden;
        }
        .top-0{
            top: -150px;
            position: absolute;
        }
    </style>
</head>
<body class="overflow-hidden" style="position: relative;">
    <form class="form top-0" action="/client_service" method="post" style="margin: 150px 0; width: 100%;">
        <div class="form-box">
            <label for="email">電子郵件:</label>
            <input class="form-control mt-1" type="email" name="email" id="email" placeholder="請輸入E-mail" required>
            <label for="text" class="mt-1">請輸入您的姓名及問題:</label>
            <textarea class="form-control mt-1" name="text" id="text" style="height: 100px;" placeholder="姓名:XXX&#13;&#10;問題:XXXXX。" required></textarea>
            <div class="text-right mt-1">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <button class="btn" type="submit">送出</button>
            </div>
        </div>
    </form>
    <script>
        let btn = document.querySelector('.btn');
        let form_ = document.querySelector('.form');
        form_.addEventListener('submit',function (e) {
            btn.setAttribute('disabled','');
            btn.textContent = '請稍後...';
        });
        if (/Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent)){
            document.querySelector('body').classList.remove('overflow-hidden');
            document.querySelector('body form').classList.remove('top-0');
            let input_focus = false;
            document.querySelector('#email,textarea').addEventListener('focus',function (e) {
                input_focus =true;
            });
            document.querySelector('#email,textarea').addEventListener('focusout',function (e) {
                input_focus =false;
            });
            let scroll_init = setInterval(()=>{
                if(!input_focus && document.querySelector('html,body').scrollTop !== 150 && document.querySelector('html,body').scrollTop == 0){
                    document.querySelector('html,body').scrollTop = 150;
                }
            },1000);
        }
    </script>
</body>
</html>