<% layout('layout-head') -%>

<% block('head', `
    <title>就是論壇 -${layout_data.categories_list}</title>
    <meta name="description" content="就是論壇，就是要分享 -${layout_data.categories_list}">

    <meta itemprop="description" content="就是論壇，就是要分享 -${layout_data.categories_list}">
    <meta itemprop="name" content="就是論壇">
    <meta itemprop="image" content="${layout_data.url}img/favicon.png">
    
    <meta property="og:title" content="就是論壇" />
    <meta property="og:type" content='website' />
    <meta property="og:url" content="${layout_data.url}" />
    <meta property="og:description" content="就是論壇，就是要分享 -${layout_data.categories_list}" />
    <meta property="og:image" content="${layout_data.url}img/favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.css" />
`) -%>
<%include layout-banner %>
<%include layouy_navbar %>
<section class="container">
    <div class="row">
        <div class="col-md-9">
            <div id="HotInfo" class="card mb-2 animated" data-token="<%=csrfToken%>">
                <div id="category_list" class="card-header py-1 d-lg-flex">
                    <h2 class="h5 mr-auto text-nowrap mt-1">資訊榜</h2>
                    <div class="d-flex overflow-auto ml-2">
                        <ul class="nav ml-auto mr-2 flex-nowrap flex-md-wrap text-nowrap">
                            <li v-for="(item,index) in data" class="nav-item border-bottom-0">
                                <a :class="index==0 ? 'nav-link' + ' active':'nav-link'" data-toggle="tab"
                                    :href="'#'+item.id" target="_blank"
                                    @mousemove="hover_show(0,item.data[0].content.split('/-justforum-/')[2] || '/img/no_img.png', $event)">
                                    {{item.name}}
                                </a>
                            </li>
                        </ul>
                    </div>


                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-12 col-md-6 h-200-lg-300 overflow-hidden">
                            <div class="w-100 h-100 animated fadeInLeft delay-1s">
                                <a data-fancybox="gallery" :href="article_imgurl">
                                    <div class="img-cover img-fluid w-100 h-100 rounded" :style="article_img"></div>
                                </a>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">

                            <div class="tab-content" id="myTabContent">

                                <div v-for="(item,i) in data" :class="i==0 ? 'tab-pane show' + ' active':'tab-pane show'" :id="item.id">

                                    <ul class="just_list p-0 mt-2 mt-md-0 overflow-hidden">
                                        <li v-for="(article,index) in item.data"
                                            :class="category_hover_img.index == index ?'d-flex align-items-center active hidden animated fadeInRight delay-'+index : 'd-flex align-items-center hidden animated fadeInRight delay-'+index"
                                            @mousemove="category_hover_img = {'index':index,'img':article.content.split('/-justforum-/')[2] || '/img/no_img.png'}">
                                            <i v-if="index<3" class="fas fa-fire-alt mr-2" style="color: red;"></i>
                                            <a class="w-100 flex-fill text-break align-self-start" :href="'/article?id='+article.id" :title="article.title" target="_blank">{{article.title}}</a>
                                            <span class="text-nowrap"><i class="fas fa-eye mr-1"></i>
                                                {{ parseInt(article.watch) > 10000 ? (parseInt(article.watch)/10000).toFixed(2)+'萬'  : article.watch }}
                                                <i class="d-md-none fas fa-image ml-2"
                                                    :style="category_hover_img.index == index ? {'color':'red'}:{'color':'black'}"></i>
                                            </span>
                                        </li>

                                    </ul>
                                </div>



                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <%include layout_aside %>
    </div>
</section>

<% script('/js/vue.min.js') -%>
<% script('https://cdn.jsdelivr.net/gh/fancyapps/fancybox@3.5.7/dist/jquery.fancybox.min.js') -%>
<% script('/js/index.js') -%>