<aside class="d-none d-md-block col-md-3">

    <div class="card mb-2">
        <div class="card-header">
            公告
        </div>
        <div class="card-body py-2">
            <%=layout_data.announcement || '無。'%>
        </div>
    </div>
    
    <div class="card mb-2">
        <div class="card-header">
            瀏覽歷史
        </div>
        <div class="card-body py-1">
            <div class="article_log">
                無。
            </div>
        </div>
    </div>

    <div class="card mb-2">
        <div class="card-header">
            論壇資訊
        </div>
        <div class="card-body py-2">
            <div class="mb-1">在線人數:<span class="online-person"></span></div>
            <div class="mb-1">遊客人數:<span class="not-auth"></span></div>
            <%if(config){%>
                <div>客戶IP:<%=config.ip%></div>
            <%}%>
        </div>
    </div>

</aside>